.App {
  min-height: 100vh;
  background-color: #cddcdc;
  background-image: radial-gradient(
      at 50% 100%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    );
  background-blend-mode: screen, overlay;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 0px 5px 5px rgba(117, 191, 194, 0.596);
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  box-shadow: 0px 5px 5px rgba(240, 128, 128, 0.568);
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
